head{
    background-color: aquamarine;
    font-weight: bolder;
    font-style: italic;
}
h1{
    background-color: aquamarine;
    font-weight: bolder;
    font-style: italic;
    font-size: 200%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    background-color: aquamarine;
    font-weight: bolder;
    font-style: italic;
    font-size: large;
}
body{
    background-color: aquamarine;
    
}