head{
    background-color: aquamarine;
    font-weight: bolder;
    font-style: italic;
}
h1{
    background-color: aquamarine;
    font-weight: bolder;
    font-style: italic;
    font-size: 200%;
}
h2{
    background-color: aquamarine;
    font-weight: bolder;
    font-style: italic;
    font-size: large;
}
body{
    background-color: aquamarine;
    
}