head{
    background-color: aquamarine;
    font-weight: bolder;
    font-style: italic;
}
h1{
    background-color: aquamarine;
    font-weight: bolder;
    font-style: italic;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    background-color: aquamarine;
    font-weight: bolder;
    font-style: italic;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}